/* x-small*/
:root {
    --left-m: 30px;
    --right-m: 12px;
    --left-p: 16px;
    --right-p: var(--left-p);


    --body-padding: 16px;
}

body {
    padding: var(--body-padding);
    position: relative;
}

img {
    max-width: 100%;
    height: auto;
}


.color_white {
    color: #FFFFFF;
}

.color_gray {
    color: #828282;
}

.bg_color_dark {
    background-color: #181719;
}

.left_banner {
    font-family: 'Crimson Pro', serif;
    border: 1px solid #FFFFFF;
    display: inline;
    font-size: 0.875rem;
    padding: 0.313rem;
    text-transform: uppercase;
    font-weight: 200;

}

.content {
    /*TODO temp*/
    /*display: none;*/
}

.menu {
    height: 0;
    width: 0;
    position: absolute;
    background-color: #181719;
    /*background-color: yellow;*/
    padding: var(--body-padding);
    left: 0;
    top: 0;
    transition: all 0.5s;
    opacity: 0;

}

.menu_display {
    height: calc(100vh - var(--body-padding) - var(--body-padding));
    width: calc(100vw - var(--body-padding) - var(--body-padding));
    opacity: 1;
}

.close_bt {
    position: absolute;
    right: var(--body-padding);
    top: var(--body-padding);
}

.title {
    font-family: 'Modern interior', serif;
    font-size: 2.25rem;
    font-weight: 500;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
}

.detail {
    font-family: 'Montserrat', serif;
    font-size: 0.875rem;
    font-weight: 400;
}

.read_more {
    font-family: 'Montserrat', serif;
    font-size: 0.875rem;
    font-weight: 700;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.name {
    font-family: 'Montserrat', serif;
    font-size: 0.75rem;
    font-weight: 500;
}

.role {
    font-family: 'Montserrat', serif;
    font-size: 0.625rem;
    font-weight: 500;
}

.project {
    font-family: 'Lora', serif;
    font-size: 1.125rem;
    font-weight: 700;
    padding-left: calc(var(--left-p));
    margin-left: var(--left-m);
    padding-right: calc(var(--right-p));
    margin-right: var(--right-m);
    padding-top: 0.625rem;
    background-color: #181719;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu_bt_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100%;
}

.menu_bt {
    font-family: 'Montserrat', serif;
    font-size: 1.125rem;
    font-weight: 500;
    padding: 2px;
}

.menu_bt:hover {
    font-weight: 700;
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 0 0 2px 0;

}

.menu_bt_clicked {
    font-weight: 700;
}

.top_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile_user_image {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 3rem;
}

.hero_image_container {
    position: relative;
}

.img_profile_background {
    display: block;
}


.user_inf {
    width: calc(100% - var(--left-m) - var(--right-m) - var(--left-p) - var(--right-p));
    background-color: #181719;
    position: absolute;
    bottom: 0;
    margin-right: var(--right-m);
    margin-left: var(--left-m);
    margin-bottom: -1px;
    padding-top: 16px;
    padding-right: var(--left-p);
    padding-left: var(--right-p);
    padding-bottom: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;

}

.user_inf_text {

    padding-left: 10px;
}

.margin_left {
    margin-left: 2.5rem;
}

.margin_right {
    margin-right: 4rem;
}

.full_width {
    width: 100%;
}

.height_some {
    height: 100px;
}


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {


}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {


}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .desktop_container {
        /*background-color: yellow;*/
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;

        display: grid;
        grid-template-columns: 3fr 4fr;
        grid-template-rows: auto;
        grid-column-gap: 50px;
        grid-row-gap: 120px;

    }

    .menu {
        position: static;
        grid-column-start: 2;
        grid-column-end: 3;
        height: auto;
        /*background-color: yellow;*/
        opacity: 1;
        width: 100%;
        padding: 0;
    }

    .close_bt {
        visibility: hidden;
    }

    .menu_bt_container {
        flex-direction: row;
        justify-content: flex-end;
    }

    #menu_bt {
        visibility: hidden;
    }


    .desktop_left_container {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;

        align-self: center;
    }

    .desktop_right_container {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    :root {
        --left-m: 250px;
        --right-m: 20px;

    }


}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {

}
