/* x-small*/


.container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.title {
    font-family: 'PT Serif', serif;
    font-size: 2.25rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.sub_title {
    font-family: 'Poppins', serif;
    font-size: 1.125rem;
    font-weight: bold;
}

.sub_title_detail {
    display: flex;
    flex-direction: column;
}

.detail {
    font-family: 'Poppins', serif;
    font-size: 0.875rem;
    padding-top: 0.6rem;
}

img {
    width: 100%;
    aspect-ratio: 3/5;
    object-fit: cover;
    object-position: center center;
}

.member {
    display: flex;
    flex-direction: column;
}

.photo_role {
    display: grid;
    grid-template-columns: auto auto;

}

.role {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-family: 'PT Serif', serif;
    font-size: 0.625rem;

    padding-left: 0.188rem;
}

.name {
    font-family: 'Poppins', serif;
    font-size: 0.875rem;
    padding-top: 0.188rem;
    font-weight: bold;
}

.member_container {
    padding-top: 3.75rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 10px;
}

.right_image_x_small {
    /*background-color: red;*/
    padding-top: 30px;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {


}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .container {
        margin-left: auto;
        margin-right: auto;
        max-width: 1300px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1rem;
    }

    .member_container {
        grid-column: 1/3;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10vw;
        row-gap: 20px;
    }

    .sub_title_detail {
        padding-top: 2rem;
    }


    .detail {

        font-size: 1.125rem;

    }

    .right_image_x_small {
        /*background-color: red;*/
        padding-top: 0;
    }

    .middle_image_x_desktop {
        /*background-color: red;*/
        padding-top: 80px;
    }

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {

}
