/* x-small*/
.test {
    background-color: red;
}

body {
    background-color: #f4f4f5;
    padding: 1rem;
}

.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:repeat(5, auto);
    grid-template-areas:
"error_msg"
"img"
"title"
"detail"
"button";

}

.fun_img {
    max-width: 100%;
    height: auto;


}

.img_container {
    grid-area: img;

    padding: 1rem;
}

.error_msg {
    grid-area: error_msg;
    font-family: 'Inconsolata', serif;
    font-size: 1.6875rem;
}

.title {
    grid-area: title;
    font-family: 'Space Mono', serif;
    font-size: 3rem;
    color: #333333;
    margin-top: 1rem;
}

.detail {
    grid-area: detail;
    font-family: 'Space Mono', serif;
    font-size: 1.125rem;
    color: #4f4f4f;
    margin-top: 1rem;
}

.button {
    grid-area: button;
    font-family: 'Space Mono', serif;
    font-size: 0.875rem;
    color: #FFFFFF;
    background-color: #333333;
    margin-top: 2rem;
    padding: 1.5rem;

    justify-self: start;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

    body {
        /*background-color: red;*/
        padding: 3rem;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    body {
        /*background-color: orange;*/
        padding: 1.5rem;
    }

    .container {

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:repeat(4, auto);
        grid-template-areas:
"error_msg error_msg"
"img title"
"img detail"
"img button";
        align-items: start;
        column-gap: 7rem;


    }


    .title {

        font-size: 4rem;

    }

    .detail {

        font-size: 1.5rem;

    }


}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    body {
        /*background-color: yellow;*/
        padding: 3rem;
    }
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .test {
        background-color: green;
    }

    body {
        /*background-color: green;*/
        padding: 3rem;
    }
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    body {
        /*background-color: blue;*/
        padding: 3rem;
    }
}
